* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;

  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa;
}

.mobile-container {
  max-width: 500px;
  width: 100%;
  background: #f5f7fa;

  overflow: hidden;
  /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3); */
}
.logo-image {
  width: 150px;
  height: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  gap: 8px;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.content {
  padding: 0 20px 20px;
}

.page-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: #4b5563;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 14px 15px 14px 45px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  border-color: #14b8a6;
}

.eye-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #6b7280;
}

.btn-primary {
  width: 100%;
  padding: 16px;
  background: #14b8a6;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #0f9b8a;
}

.terms-text {
  text-align: center;
  font-size: 12px;
  color: #6b7280;
  margin-top: 15px;
}

.terms-text a {
  color: #14b8a6;
  text-decoration: none;
}

.link-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #6b7280;
}

.link-text a {
  color: #14b8a6;
  text-decoration: none;
  font-weight: 600;
}

.home-indicator {
  height: 5px;
  width: 134px;
  background: #1f2937;
  border-radius: 100px;
  margin: 10px auto;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .mobile-container {
    border-radius: 20px;
  }

  .page-title {
    font-size: 20px;
  }
}
